body{
    background-color: hsla(229, 88%, 81%, 0.367);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: 'Outfit', sans-serif;
    gap: 10px;
}
button{
    background-color: hsl(211, 60%, 18%);
    color: #ffffff;
    padding: 5px 10px ;
    border: none;
    border-radius: 10px;
}

img{
    border-radius: 7px;
    width:250px;
}
h3{
    font-weight: 700;
}
p{
    font-weight: 400;
    opacity: 50%;
    
}
.card{
    border-radius: 7px;
    background-color: rgba(143, 141, 247, 0.873);
    text-align: center;
    align-items: center;
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
    width:250px;
}
@media screen and (max-width:375px){
    .card{
        margin: 10px;
    }
}